@model List<DS3Wiki.Models.Weapon>

@{
    ViewBag.Title = "Weapons";
}

<h2>Weapons</h2>

@if (User.IsInRole("Contributor") || User.IsInRole("Admin"))
{
    <br />

    using (Html.BeginForm(actionName: "Create",
        controllerName: "Weapons",
        method: FormMethod.Get))
    {
        <button class="btn btn-success">Add Weapon</button>
    }
}

<hr />

@using (Html.BeginForm(actionName: "Search",
        controllerName: "Weapons",
        method: FormMethod.Post))
{
    <div class="form-horizontal">

        <div class="form-group">
            @Html.Label("Weapon Name", new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBox("weapon_name", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1">
                <input type="submit" value="Search Weapon" class="btn btn-warning" />
            </div>
        </div>

    </div>
}

@{
    foreach (var weapon in Model)
    {
        @Html.Partial("_WeaponsListItem", weapon)
    }
}

@Html.Partial("../Comments/_CommentsSection")