@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Weapons", "Index", "Weapons")</h2>
        <p>
            Weapons in Dark Souls 3 are listed on this page.
            Players may equip up to 3 in the slots for each hand.
            When developing a build, the player should try to find the weapon that mixes the right amount of damage, bonuses and moveset, alongside stamina consumption and Skills.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Enemies", "Index", "Enemies")</h2>
        <p>
            Enemies are hostile NPCS in Dark Souls 3 that the player can confront to obtain Souls, upgrade materials and equipment.
            Enemies have different resistances to the many Damage Types, and their HP changes depending on your New Game Cycle.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Locations", "Index", "Locations")</h2>
        <p>
            Locations in Dark Souls 3's world are areas with their name prominently displayed upon entry.
            The player starts their journey in the Cemetery of Ash.
        </p>
    </div>
</div>

<hr />

<div style="font-size: larger">
    <p>Dark Souls III is an action role-playing video game developed by FromSoftware and published by Bandai Namco Entertainment for PlayStation 4, Xbox One, and Microsoft Windows. The fourth installment of the Souls series and the final installment of the Dark Souls trilogy, the game was released in Japan in March 2016 and worldwide a month later.</p>

    <p>It is an action role-playing game played in a third-person perspective. Players have access to a variety of weapons, armor, magic, and consumables that they can use to fight their enemies. Bonfires serve as checkpoints. The Estus Flask is the consumable used for healing in Dark Souls III. Ashen Estus Flasks restore focus points (FP), which can be used for magic or weapon arts. Hidetaka Miyazaki, the creator of the series, returned to direct the game after handing development duties of Dark Souls II to others in FromSoftware.</p>

    <p>Dark Souls III was critically and commercially successful, with critics calling it a worthy and fitting conclusion to the series. It was the fastest-selling game in Bandai Namco's history, shipping over three million copies within its first two months and over 10 million by 2020. Two downloadable content (DLC) expansions, Ashes of Ariandel and The Ringed City, were also made for the game. A complete version containing the base game and both expansions, Dark Souls III: The Fire Fades, was released in April 2017.</p>
</div>