@model DS3Wiki.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<hr />

@using (Html.BeginForm(actionName: "Index",
    controllerName: "Users",
    method: FormMethod.Get))
{
    <button class="btn btn-warning">← List</button>
}

<br />
<br />

@Html.LabelFor(x => x.Email)
<p>@Model.Email</p>

<br />

<label>Role</label>
<p>@ViewBag.roleName</p>